title="Drone Core configuration file"

[video_capture]
frame_width=640
frame_height=480
frame_format=".jpeg"
frame_quality=20                 # percent out of 100

[timers]
video_send_frequency=32          # milliseconds
data_send_frequency=100          # milliseconds

[communication]
broker_ip_address="192.168.1.68"
broker_data_port=1234
broker_video_port=1235
packet_size=1024

[gps]
gpsd_port=2947
gpsd_host="localhost"
gpsd_connect_timeout=3000        # milliseconds
gpsd_idle_timeout=30             # seconds
gpsd_reconnect_attempts=5
gpsd_reconnect_interval=3000     # milliseconds
gps_device_path="/dev/ttyS0"